= content_for :stylesheets, stylesheet_link_tag('institutional', media: 'all')
= content_for :stylesheets, stylesheet_link_tag('mobile-institutional', media: '(max-device-width: 800px), (max-width: 800px)')

%header
  %nav.menu
    = link_to root_path, class: 'home' do
      = image_tag 'logo_small.png'
    = link_to 'Institucional', institutional_path, data: { page: 'page-1' }, class: 'institutional active'
    = link_to 'Jurídico', legal_path, data: { page: 'page-2' }, class: 'legal'
    = link_to 'Marketing', marketing_path, data: { page: 'page-3' }, class: 'marketing'
    = link_to 'Estrutura Física', physical_environment_path, data: { page: 'page-4' }, class: 'physical-environment'
    = link_to 'Sistema', system_path, data: { page: 'page-5' }, class: 'system'
    = link_to 'Tributário', tributary_path, data: { page: 'page-6' }, class: 'tributary'

  .contact
    = image_tag asset_path('tel-icon.png')
    %span.phone (11) 5052-4527

= render partial: 'shared/mobile_menu'

%article.page
  .content
    %header
      %h1.title INSTITUCIONAL
      %p.subtitle Trabalhamos para encontrar o equilíbrio entre a saúde e o corporativo, auxiliando o profissional a entender os pontos fracos do seu negócio e identificar oportunidades de melhoria.
      %p.description Buscamos, através da vivência acadêmica e da experiência de mercado de nossos profissionais, apresentar resultados de acordo com os objetivos de nossos clientes, criando padrões e protocolos, reduzindo custos e preparando suas equipes para oferecer qualidade e conforto aos seus pacientes.

    .mission
      %p.title MISSÃO
      %p Identificar as necessidades que os profissionais da Área da Saúde encontram no ambiente corporativo, criando estratégias holísticas de negócio para obtenção de melhores resultados, permitindo aos nossos clientes investir esforços em seu core business.
    .vision
      %p.title VISÃO
      %p Ser referência no fornecimento de serviços diversificados para a Área da Saúde, criando vínculos perenes com nossos parceiros e clientes.
    .values
      %p.title VALORES
      %p
        Excelência no atendimento;
        %br
        Ética com transparência e responsabilidade;
        %br
        Crescimento e aprimoramento contínuo;
        %br
        Lealdade e comprometimento com nossos clientes, parceiros e colaboradores.

    .clear

= render 'shared/footer'