%header
  %nav.menu
    = link_to root_path, class: 'home' do
      = image_tag 'logo_small.png'
    = link_to 'Institucional', institutional_path, data: { page: 'page-1' }, class: 'institutional'
    = link_to 'Jurídico', legal_path, data: { page: 'page-2' }, class: 'legal active'
    = link_to 'Marketing', marketing_path, data: { page: 'page-3' }, class: 'marketing'
    = link_to 'Estrutura Física', physical_environment_path, data: { page: 'page-4' }, class: 'physical-environment'
    = link_to 'Sistema', system_path, data: { page: 'page-5' }, class: 'system'
    = link_to 'Tributário', tributary_path, data: { page: 'page-6' }, class: 'tributary'

  .contact
    = image_tag asset_path('phone_icon.png')
    %span.phone (11) 5052-4527

.page
  .content
    %h1.title CONSULTORIA JURÍDICA
    %p A legislação Tributária e Trabalhista brasileira sofre modificações constantemente a uma velocidade que o profissional não tem condições de acompanhar.

    %h2.subtitle Principais serviços:
    %p Prevenção e resolução de litígios
    %p Desenvolvimento de contratos


%footer
  .address
    %span.mark
    .content
      %p Avenida Paulista 1560
      %p São Paulo | SP

  .content
    %p Tel- (11) 5052-9527
    %p info@healthsupport.com

  .content.copyright
    %p COPYRIGHT LINES @ | DEVELOPED | ALL RIGHTS RESERVED
