%header
  %nav.menu
    = link_to root_path, class: 'home' do
      = image_tag 'logo_small.png'
    = link_to 'Institucional', institutional_path, data: { page: 'page-1' }, class: 'institutional'
    = link_to 'Jurídico', legal_path, data: { page: 'page-2' }, class: 'legal'
    = link_to 'Marketing', marketing_path, data: { page: 'page-3' }, class: 'marketing active'
    = link_to 'Estrutura Física', physical_environment_path, data: { page: 'page-4' }, class: 'physical-environment'
    = link_to 'Sistema', system_path, data: { page: 'page-5' }, class: 'system'
    = link_to 'Tributário', tributary_path, data: { page: 'page-6' }, class: 'tributary'

  .contact
    = image_tag asset_path('tel-icon.png')
    %span.phone (11) 5052-4527

.page
  .content
    %h1.title CONSULTORIA MARKETING
    %p
      Marketing para a área da saúde pode soar estranho, mas uma
      %strong estratégia assertiva
      de
      %strong marketing agrega muito
      ao negócio de uma clínica médica.

    %p.subtitle Principais serviços:
    %ul
      %li
        Desenvolvimento de Identidade Visual que pode ser materializada em:
        %p - Cartões de visita e prontuários;
        %p - Detalhes na decoração do ambiente;
        %p - Material para web.
      %li Comunicação nas redes sociais (facebook, instgram, youtube);
      %li Estratégia de relacionamento com o paciente (e-mkt, sms e whatsapp).

    .infographic
      %p.subtitle ALGUNS DADOS SOBRE O CENÁRIO DIGITAL BRASILIEIRO
      = image_tag 'cenario_digital_brasileiro.png'

    .infographic
      = image_tag 'comunicacao_digital.png'

    .infographic
      = image_tag 'comunicacao_digital_2.png'

%footer
  .address
    %span.mark
    .content
      %p Avenida Paulista 1560
      %p São Paulo | SP

  .content
    %p Tel- (11) 5052-9527
    %p info@healthsupport.com

  .content.copyright
    %p COPYRIGHT LINES @ | DEVELOPED | ALL RIGHTS RESERVED
