%header
  = render 'shared/desktop_menu'

= render 'shared/mobile_menu'

.page
  .content
    %h1.title CONSULTORIA MARKETING
    %p
      Marketing para a área da saúde pode soar estranho, mas uma
      %strong estratégia assertiva
      de
      %strong marketing agrega muito
      ao negócio de uma clínica médica.

    %p.subtitle Principais serviços:
    %ul
      %li
        Desenvolvimento de Identidade Visual que pode ser materializada em:
        %p - Cartões de visita e prontuários;
        %p - Detalhes na decoração do ambiente;
        %p - Material para web.
      %li Comunicação nas redes sociais (facebook, instgram, youtube);
      %li Estratégia de relacionamento com o paciente (e-mkt, sms e whatsapp).

    .infographic
      %p.subtitle ALGUNS DADOS SOBRE O CENÁRIO DIGITAL BRASILIEIRO
      = image_tag 'cenario_digital_brasileiro.png'

    .infographic
      = image_tag 'comunicacao_digital.png'

    .infographic
      = image_tag 'comunicacao_digital_2.png'

= render 'shared/footer'