%header
  %nav.menu
    = link_to root_path, class: 'home' do
      = image_tag 'logo_small.png'
    = link_to 'Institucional', institutional_path, data: { page: 'page-1' }, class: 'institutional'
    = link_to 'Jurídico', legal_path, data: { page: 'page-2' }, class: 'legal'
    = link_to 'Marketing', marketing_path, data: { page: 'page-3' }, class: 'marketing'
    = link_to 'Estrutura Física', physical_environment_path, data: { page: 'page-4' }, class: 'physical-environment active'
    = link_to 'Sistema', system_path, data: { page: 'page-5' }, class: 'system'
    = link_to 'Tributário', tributary_path, data: { page: 'page-6' }, class: 'tributary'

  .contact
    = image_tag asset_path('phone_icon.png')
    %span.phone (11) 5052-4527

.page
  .content
    %h1.title ESTRUTURA FÍSICA
    %p Trabalhamos para garantir adequação do espaço físico do consultório, prezando pelos objetivos de negócio do profissional e pelas normas regulatórias.

    %p.subtitle Principais serviços:
    %p Implementação de estrutura para coletas de amostras biológica
    %p Adequação às normas dos Conselhos da Área da Saúde (CRM,CRO, CRN, Outros)
    %p Liberação e atualização de alvarás
    %p Aprovação de Plantas para Clinicas Médicas

%footer
  .address
    %span.mark
    .content
      %p Avenida Paulista 1560
      %p São Paulo | SP

  .content
    %p Tel- (11) 5052-9527
    %p info@healthsupport.com

  .content.copyright
    %p COPYRIGHT LINES @ | DEVELOPED | ALL RIGHTS RESERVED
