%header
  %nav.menu
    = link_to root_path, class: 'home' do
      = image_tag 'logo_small.png'
    = link_to 'Institucional', institutional_path, data: { page: 'page-1' }, class: 'institutional'
    = link_to 'Jurídico', legal_path, data: { page: 'page-2' }, class: 'legal'
    = link_to 'Marketing', marketing_path, data: { page: 'page-3' }, class: 'marketing'
    = link_to 'Estrutura Física', physical_environment_path, data: { page: 'page-4' }, class: 'physical-environment'
    = link_to 'Sistema', system_path, data: { page: 'page-5' }, class: 'system active'
    = link_to 'Tributário', tributary_path, data: { page: 'page-6' }, class: 'tributary'

  .contact
    = image_tag asset_path('tel-icon.png')
    %span.phone (11) 5052-4527

= render partial: 'shared/mobile_menu'

.page
  .content
    %h1.title CONSULTORIA TECNOLÓGICA
    %p
      Implementação de um
      %strong sistema de gestão integrada,
      desenvolvido para a HEALTH SUPPORT direcionado para a área da saúde.

    %p.subtitle Principais serviços:
    %ul.list
      %li O mais completo cadastro de seus Pacientes;
      %li Total Controle de Agenda e Atendimentos;
      %li Gerencie todos os prontuário em uma única tela !
      %li Armazenamento de imagens de exames aos atendimentos;
      %li Confirmação de seus agendamentos por e-mail, reduzindo custos com ligações;
      %li Controle financeiro, com foco no Contas a Receber;
      %li Gestão de convênios e seus recebíveis;
      %li Integração com sistema financeiro/contábil NIBO;
      %li Relatórios diversos, desde atendimentos até movimentações financeiras, para uma melhor gestão de sua clínica;
      %li Modulo específico para Relacionamento (envio de SMS, e-mails);
      %li Sistema instalado em sua clínica, com total segurança dos seus dados.

    %p.subtitle TREINAMENTO DE SECRETÁRIAS
    %p Aplicação de treinamento para secretárias para garantir um padrão de TREINAMENTO DE EQUIPE atendimento comprometido com a excelência.

    %ul.list
      %li Conhecimento da cultura da empresa por parte dos colaboradores;
      %li Capacitação da equipe para atendimento direto ao público (apresentação pessoal, comportamentos esperados);
      %li Comunicação e relacionamento interpessoal,
      %li Administração do tempo
      %li Motivação profissional.

%footer
  .address
    %span.mark
    .content
      %p Avenida Paulista 1560
      %p São Paulo | SP

  .content
    %p Tel- (11) 5052-9527
    %p info@healthsupport.com

  .content.copyright
    %p COPYRIGHT LINES @ | DEVELOPED | ALL RIGHTS RESERVED
