= link_to root_path, class: 'home' do
  = image_tag 'logo_small.png'

%nav.menu
  = link_to 'Menu de serviços', '#!', class: 'toggle'

  %ul.links-list
    %li= link_to 'Institucional', institutional_path, class: "institutional #{ 'active' if current == 'institutional' }"
    %li= link_to 'Jurídico', legal_path, class: "legal #{ 'active' if current == 'legal' }"
    %li= link_to 'Marketing', marketing_path, class: "marketing #{ 'active' if current == 'marketing' }"
    %li= link_to 'Estrutura Física', physical_environment_path, class: "physical-environment #{ 'active' if current == 'physical-environment' }"
    %li= link_to 'Sistema', system_path, class: "system #{ 'active' if current == 'system' }"
    %li= link_to 'Tributário', tributary_path, class: "tributary #{ 'active' if current == 'tributary' }"

.contact
  %span.phone (11) 5052-4527