%ul.services-list
  %li.service.tributary{ data: { service: '1' } }
    .logo
    Tributário
  %li.service.marketing{ data: { service: '2' } }
    .logo
    Marketing
  %li.service.legal{ data: { service: '3' } }
    .logo
    Jurídico
  %li.service.physical-environment{ data: { service: '4' } }
    .logo
    Estrutura Física
  %li.service.system{ data: { service: '5' } }
    .logo
    Sistema

.services-gallery
  %a.prev
  %a.next
  .view-port
    %ul.services
      %li.service.tributary
        = image_tag 'tributary_logo_blue.png', class: 'logo'
        %p.title Tributário
        %p.description Auxiliamos o profissional a entender o papel de cada um dos colaboradores de sua empresa, oferecendo-lhes recursos para melhor desempenhar suas atividades.
        = link_to "Mais Detalhes", "#!", class: 'details'

      %li.service.marketing
        = image_tag 'marketing_logo_blue.png', class: 'logo'
        %p.title Tributário
        %p.description Auxiliamos o profissional a entender o papel de cada um dos colaboradores de sua empresa, oferecendo-lhes recursos para melhor desempenhar suas atividades.
        = link_to "Mais Detalhes", "#!", class: 'details'

      %li.service.legal
        = image_tag 'legal_logo_blue.png', class: 'logo'
        %p.title Tributário
        %p.description Auxiliamos o profissional a entender o papel de cada um dos colaboradores de sua empresa, oferecendo-lhes recursos para melhor desempenhar suas atividades.
        = link_to "Mais Detalhes", "#!", class: 'details'

      %li.service.physical-environment
        = image_tag 'physical_environment_logo_blue.png', class: 'logo'
        %p.title Tributário
        %p.description Auxiliamos o profissional a entender o papel de cada um dos colaboradores de sua empresa, oferecendo-lhes recursos para melhor desempenhar suas atividades.
        = link_to "Mais Detalhes", "#!", class: 'details'

      %li.service.system
        = image_tag 'system_logo_blue.png', class: 'logo'
        %p.title Tributário
        %p.description Auxiliamos o profissional a entender o papel de cada um dos colaboradores de sua empresa, oferecendo-lhes recursos para melhor desempenhar suas atividades.
        = link_to "Mais Detalhes", "#!", class: 'details'
