%ul.services-list
  %li.service.tributary{ data: { service: '1' } }
    .logo
    Tributário
  %li.service.marketing{ data: { service: '2' } }
    .logo
    Marketing
  %li.service.legal{ data: { service: '3' } }
    .logo
    Jurídico
  %li.service.physical-environment{ data: { service: '4' } }
    .logo
    Estrutura Física
  %li.service.system{ data: { service: '5' } }
    .logo
    Sistema
  %li.service.secretary-trainning{ data: { service: '6' } }
    .logo
    Treinamento de secretárias
  %li.service.life-insurance{ data: { service: '7' } }
    .logo
    Seguro de vida
  %li.service.sample-collection-structure{ data: { service: '8' } }
    .logo
    Posto de coleta de exames de análises clínicas

.services-gallery
  %a.prev
  %a.next
  .view-port
    %ul.services
      %li.service.tributary
        = image_tag 'tributary_logo_blue.png', class: 'logo'
        %p.title Tributário
        %p.description Planejamos receitas e despesas a longo prazo, definindo metas e estimando resultados.
        = link_to "Mais Detalhes", tributary_path, class: 'details'

      %li.service.marketing
        = image_tag 'marketing_logo_blue.png', class: 'logo'
        %p.title Marketing
        %p.description Marketing para a área da saúde pode soar estranho, mas uma estratégia assertiva de marketing agrega muito ao negócio de uma clínica médica.
        = link_to "Mais Detalhes", marketing_path, class: 'details'

      %li.service.legal
        = image_tag 'legal_logo_blue.png', class: 'logo'
        %p.title Jurídico
        %p.description Auxiliamos o profissional a resguardar seu negócio de cada nova modificação nas legislações Tributária e Trabalhista - que no Brasil acontece com frequência.
        %p.description Garantimos as melhores condições para trabalhar dentro das normas inerentes à área da saúde.
        = link_to "Mais Detalhes", legal_path, class: 'details'

      %li.service.physical-environment
        = image_tag 'physical_environment_logo_blue.png', class: 'logo'
        %p.title Estrutura física
        %p.description
          Garantir que o
          %strong espaço físico
          da clínica esteja
          %strong de acordo com todas as normas regulatórias.
        = link_to "Mais Detalhes", physical_environment_path, class: 'details'

      %li.service.system
        = image_tag 'system_logo_blue.png', class: 'logo'
        %p.title Sistema
        %p.description
          Implementação de um
          %strong sistema de gestão integrada,
          desenvolvido para a HEALTH SUPPORT direcionado para a área da saúde.
        = link_to "Mais Detalhes", system_path, class: 'details'

      %li.service.secretary-trainning
        = image_tag 'secretaries_trainning_logo.png', class: 'logo'
        %p.title Treinamento de secretárias
        %p.description
          Aplicação de treinamento para secretárias para garantir um padrão de TREINAMENTO DE EQUIPE atendimento comprometido com a excelência.
        = link_to "Mais Detalhes", secretary_trainning_path, class: 'details'

      %li.service.life-insurance
        = image_tag 'life_insurance_logo.png', class: 'logo'
        %p.title Seguro de vida
        %p.description
          Garantia de segurança para os profissionais da Área da Saúde, bem como suas famílias em caso de quaisquer situações adversas.
        = link_to "Mais Detalhes", life_insurance_path, class: 'details'

      %li.service.sample-collection-structure
        = image_tag 'sample_collection_structure_logo.png', class: 'logo'
        %p.title Implementação de posto de coleta de exames de análises clínicas
        %p.description
          Um Laboratório inovador que traz uma experiência diferenciada, focada em oferecer personalização nos atendimentos, nas coletas e nas entregas de resultados, com agilidade e transparência.
        = link_to "Mais Detalhes", sample_collection_structure_path, class: 'details'

  .footer-navigation
    = link_to " ", "#!", class: 'active'
    = link_to " ", "#!"
    = link_to " ", "#!"
    = link_to " ", "#!"
    = link_to " ", "#!"
