%header
  %nav.menu
    = link_to root_path, class: 'home' do
      = image_tag 'logo_small.png'
    = link_to 'Institucional', institutional_path, data: { page: 'page-1' }, class: 'institutional'
    = link_to 'Jurídico', legal_path, data: { page: 'page-2' }, class: 'legal'
    = link_to 'Marketing', marketing_path, data: { page: 'page-3' }, class: 'marketing'
    = link_to 'Estrutura Física', physical_environment_path, data: { page: 'page-4' }, class: 'physical-environment'
    = link_to 'Sistema', system_path, data: { page: 'page-5' }, class: 'system'
    = link_to 'Tributário', tributary_path, data: { page: 'page-6' }, class: 'tributary'

  .contact
    = image_tag asset_path('tel-icon.png')
    %span.phone (11) 5052-4527

= render partial: 'shared/mobile_menu'

.page.page-1
  .content
    = image_tag asset_path('logo_big.png'), id: 'logo_mark', class: 'logo'
    .description
      %p Olá! Somos uma consultoria que desenvolve soluções estratégicas para profissionais da área de saúde, dando suporte ao negocio e criando novas perspectivas dentro do ambiente profissional e corporativo.
      .divider
      %p Atendendo profissionais da área da saúde que encontram dificuldades no processo administrativo de sua carreira e de sua clinica, e precisam otimizar recursos para garantir o crescimento de seu negócio.

  .next-page
    .arrow
  %footer
    %p Todos os serviços são desenvolvidos em conformidade com a Resolução CFM 1974/11, que versa sobre a Publicidade e suas restrições no campo da Medicina, além de corroborar com os demais institutos reguladores ligados a área da Saúde.


.page.page-2
  = render 'services_gallery'

.page.page-3
  = render 'maps'

.page.page-4
  = render 'contact'

%footer
  .address
    %span.mark
    .content
      %p Avenida Paulista 1560
      %p São Paulo | SP

  .content
    %p Tel- (11) 5052-9527
    %p info@healthsupport.com

  .content.copyright
    %p COPYRIGHT LINES @ | DEVELOPED | ALL RIGHTS RESERVED
