<!DOCTYPE html>
<html>
<head>
  <title>HealthSupport</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= stylesheet_link_tag 'mobile', media: '(max-device-width: 800px), (max-width: 800px)' %>
  <%= yield :stylesheets %>

  <%= javascript_include_tag 'application' %>
  <%= yield :javascripts %>

  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>
</body>
</html>
