<!DOCTYPE html>
<html>
<head>
  <title>HealthSupport</title>
  <link rel="shortcut icon" href="<%= image_path 'favicon.ico' %>" type="image/x-icon">
  <link rel="icon" href="<%= image_path 'favicon.ico' %>" type="image/x-icon">

  <%= stylesheet_link_tag 'home', media: 'all' %>
  <%= stylesheet_link_tag 'mobile-home', media: '(max-device-width: 800px), (max-width: 800px)' %>
  <%= yield :stylesheets %>

  <%= javascript_include_tag 'home' %>
  <%= yield :javascripts %>

  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>
</body>
</html>
